<div class="container my-5 rounded shadow trans-white-bg">
    <h1 class="text-center py-1">
        Discover <fa-icon [icon]="faFilm"></fa-icon>
    </h1>
    <swiper class="pb-3" [config]="config" *ngIf="isDataLoaded">
        <div class="swiper-wrapper">
            <img class="swiper-slide pointer" *ngFor="let movie of movies"
                src="{{env.imgURL}}/w300/{{movie.poster_path}}" (click)="loadRecommendations({movie})" />
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>
</div>