.carousel-indicators {
    top: 105%;
}

.carousel-indicators li {
    background-color: red;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    background-color: rgb(104 104 104 / 85%);
    height: 96%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: .7;
}

.swiper {
    height: 400px;
    width: 600px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    top: 7%;
    width: calc(var(--swiper-navigation-size) / 44 * 35);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgb(102 102 102 / 50%);
    /* height: 100%;
    top: 0;
    width: calc(var(--swiper-navigation-size) / 44 * 35); */
}