/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css"; */
html {
    scroll-behavior: smooth
}

.background {
    background-image: url('assets/backgrounds/galaxy-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.trans-white-bg {
    background-color: rgba(255 255 255 / 85%);
}

.pointer {
    cursor: pointer;
}